* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', 'Arial', sans-serif;

  @include scrollbar;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style: none;
}
